body {
  background-color: #eee;
  color: #3C4858;
  font-weight: 300; }
  body a {
    color: #333; }
  body a:hover {
    text-decoration: none;
    color: #333; }
  body ul, body li, body ol {
    list-style-type: none; }
  body .container-fluid {
    padding: 0; }
    body .container-fluid .wrapper {
      position: relative;
      top: 0;
      height: 100vh; }
      body .container-fluid .wrapper .sidebar {
        width: 100%;
        flex: 0 0 20%;
        max-width: 20%;
        height: 100%;
        max-height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: #fff;
        padding: 0 15px;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        -webkit-transition-property: top, bottom, width;
        transition-property: top, bottom, width;
        -webkit-transition-duration: .2s, .2s, .35s;
        transition-duration: .2s, .2s, .35s;
        -webkit-transition-timing-function: linear, linear, ease;
        transition-timing-function: linear, linear, ease;
        -webkit-overflow-scrolling: touch; }
        body .container-fluid .wrapper .sidebar .logo {
          padding: 15px 0px;
          margin: 0;
          display: block;
          text-align: center;
          border-bottom: 1px solid #b3b3b3b0; }
          body .container-fluid .wrapper .sidebar .logo a {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;
            display: block; }
        body .container-fluid .wrapper .sidebar .sidebar_wrapper {
          overflow-y: scroll;
          height: 100vh; }
          body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav {
            margin-top: 20px; }
            body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav .nav-item {
              padding: 5px 0; }
              body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav .nav-item a {
                padding: 12px 25px;
                display: block;
                font-weight: 400; }
                body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav .nav-item a svg {
                  font-size: 24px;
                  margin: -4px; }
                body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav .nav-item a span {
                  padding-left: 20px; }
            body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav li.active > a {
              color: #fff;
              font-weight: 500;
              background-color: #9c27b0;
              border-radius: 3px;
              box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); }
            body .container-fluid .wrapper .sidebar .sidebar_wrapper .nav li:hover > a {
              background-color: #e8e5e5db;
              border-radius: 3px;
              transition: 0.5s; }
        body .container-fluid .wrapper .sidebar .sidebar_wrapper::-webkit-scrollbar {
          width: 0px; }
        body .container-fluid .wrapper .sidebar .sidebar_wrapper::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px; }
        body .container-fluid .wrapper .sidebar .sidebar_wrapper::-webkit-scrollbar-thumb {
          background: #068eff6e;
          border-radius: 10px; }
        body .container-fluid .wrapper .sidebar .sidebar_wrapper::-webkit-scrollbar-thumb:hover {
          background: #b30000; }
        body .container-fluid .wrapper .sidebar .sidebar_bg {
          position: absolute;
          z-index: -1;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          display: block;
          background-size: cover;
          background-position: center center;
          opacity: 0.1; }
      body .container-fluid .wrapper .main {
        height: 100%;
        max-height: 100%;
        position: relative;
        width: 80%;
        max-width: 80%;
        float: right;
        -webkit-transition-property: top, bottom, width;
        transition-property: top, bottom, width;
        -webkit-transition-duration: .2s, .2s, .35s;
        transition-duration: .2s, .2s, .35s;
        -webkit-transition-timing-function: linear, linear, ease;
        transition-timing-function: linear, linear, ease;
        -webkit-overflow-scrolling: touch; }
        body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification {
          position: relative; }
          body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .number_notify {
            position: absolute;
            z-index: 2;
            top: -5px;
            right: 15px;
            font-size: 12px;
            background-color: #ff0032;
            border-radius: 40px;
            width: 18px;
            height: 18px;
            text-align: center;
            color: #fff;
            font-weight: 500; }
          body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu {
            margin: 0;
            padding: 0; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .row {
              margin: 0; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .top_title {
              padding: 0 15px; }
              body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .top_title span {
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 0;
                line-height: 2em; }
              body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .top_title a {
                font-size: 13px;
                font-weight: 400; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board {
              min-width: 400px;
              max-height: 415px;
              overflow: auto; }
              body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_title {
                padding: 5px 15px;
                font-size: 12px;
                background-color: #e0e8e8b0;
                font-weight: 500;
                border-top: 1px solid #ced4da; }
              body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify {
                padding: 0; }
                body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li {
                  background-color: #626fff21;
                  padding: 5px 15px;
                  border-top: 1px solid #ced4da; }
                  body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_content {
                    line-height: 20px; }
                    body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_content a {
                      font-size: 14px;
                      padding: 0;
                      font-weight: 400; }
                  body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .row {
                    padding: 0; }
                  body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_option .notify_time {
                    font-size: 11px;
                    font-weight: 400; }
                    body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_option .notify_time span {
                      display: block;
                      padding-top: 5px; }
                  body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_option .notify_action {
                    float: right;
                    min-height: 24px; }
                    body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_option .notify_action li {
                      border: none;
                      padding: 0 10px;
                      background-color: #f8f9fa00; }
                      body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li .notify_option .notify_action li a {
                        font-size: 14px;
                        padding: 0;
                        color: #fff0; }
                body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li:hover, body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li:focus, body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li:visited {
                  background-color: #c0e0ff; }
                  body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li:hover .notify_action li a, body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li:focus .notify_action li a, body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board .new_notify li:visited .notify_action li a {
                    color: #333; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board::-webkit-scrollbar {
              width: 5px; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px grey;
              border-radius: 10px; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board::-webkit-scrollbar-thumb {
              background: #068eff6e;
              border-radius: 10px; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .notification .dropdown-menu .notify_board::-webkit-scrollbar-thumb:hover {
              background: #b30000; }
        body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .dropdown_user .dropdown-menu {
          margin: 0;
          padding: 0; }
          body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .dropdown_user .dropdown-menu li a {
            display: block;
            padding: 5px 15px; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .dropdown_user .dropdown-menu li a svg {
              float: right;
              margin-top: 3px;
              font-size: 20px; }
          body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .dropdown_user .dropdown-menu li:hover a, body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .dropdown_user .dropdown-menu li:focus a, body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .dropdown_user .dropdown-menu li:visited a {
            background-color: #eee; }
        body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .nav-item {
          padding: 0 10px; }
          body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .nav-item a {
            padding: 10px 15px;
            font-size: 18px; }
          body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .nav-item a:hover {
            color: #c1a3a3 !important;
            transition: 1s; }
            body .container-fluid .wrapper .main .navbar_top .container-fluid .navbar-collapse .navbar-nav .nav-item a:hover .number_notify {
              opacity: 0.5;
              transition: 1s; }
        body .container-fluid .wrapper .main .content {
          padding-top: 50px; }
          body .container-fluid .wrapper .main .content .container-fluid {
            padding: 0 15px; }
            body .container-fluid .wrapper .main .content .container-fluid .row .card {
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header {
                margin: -20px 15px 0 15px;
                box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
                background: linear-gradient(60deg, #ab47bc, #8e24aa);
                border-radius: 4px; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_title h4 {
                  color: #fff;
                  padding-top: 10px; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .btn_add a svg {
                  border-radius: 50%;
                  border: 2px solid #9d36b4;
                  color: #9d36b4;
                  width: 35px;
                  height: 35px;
                  padding: 6px;
                  margin-top: 7px;
                  background-color: #fff; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .btn_add a:hover svg {
                  border-color: #d4ff00;
                  color: #d4ff00;
                  transition: 1s; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .input_search {
                  color: #fff;
                  max-width: 400px;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                  border-radius: unset;
                  border-bottom: 2px solid #fff;
                  background: #fff0; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .input_search::placeholder {
                  color: #fff;
                  font-style: italic; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .input_search:focus {
                  box-shadow: none;
                  border-bottom: 2px solid #d4ff00;
                  transition-duration: 1s; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .btn {
                  border-radius: 50%;
                  color: #952cae;
                  border: 2px solid #952cae;
                  background-color: #fff; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .btn:hover, body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .btn:visited, body .container-fluid .wrapper .main .content .container-fluid .row .card .card-header .row .card_search form .input-group .btn:focus {
                  color: #ffc107;
                  border-color: #ffc107; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body table tbody tr td a {
                padding: 0 10px; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body table tbody tr td a svg {
                  width: 30px;
                  height: 30px;
                  border: 1px solid #ced4da;
                  border-radius: 50%;
                  padding: 7px;
                  color: #9931b0; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body table tbody tr td a:hover svg {
                color: #fff;
                background-color: #9931b0;
                border-color: #9931b0;
                box-shadow: 5px 7px 6px #ced4da; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .form-group {
                padding-top: 15px;
                margin: 15px 0; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row {
                margin-left: 0;
                margin-right: 0; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac {
                  position: relative; }
                  body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac .label_mac {
                    position: absolute;
                    top: 0;
                    font-weight: 500;
                    pointer-events: none; }
                  body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac .input_mac {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0; }
                  body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac .input_mac:disabled {
                    background-color: unset; }
                  body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac .form-control:focus {
                    box-shadow: none; }
                  body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac .select_mac {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    font-weight: 500;
                    margin-top: -13px;
                    text-transform: uppercase; }
                    body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .row .form_mac .select_mac option {
                      padding-left: 0; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body form .password_form {
                display: none; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body .category_show {
                background-color: #eee;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
                padding: 5px;
                margin-bottom: 7px;
                border: 1px solid #dee2e68f; }
                body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body .category_show p {
                  margin: 0;
                  font-weight: 500;
                  text-transform: uppercase;
                  font-size: 14px; }
              body .container-fluid .wrapper .main .content .container-fluid .row .card .card-body .category_child {
                margin-left: 30px; }

/*# sourceMappingURL=style.css.map */
